
.result {
    background-color: #2d2d2d;
}
/* setting fixed size for image that is small enough on small screen and visible on large screens */
img {
    width: 150px;
    height: 150px;	
    
}


/* responsive size for screentshot, to be replaced with actual map in later parts of assignment*/

.samplemap{
    width: 100%;
    height:100%;
    padding-top: 20px;
    padding-left:10%;
    padding-right:10%;
}

/* align all text to center of columns */
.col-md-3{
    text-align:center;
}

/* setting text color to white */
h4 {
    color: white;
}


.mapmargin {
    margin-bottom: 20px;
}

h5 {
    color: white;
}



